/**** color ****/
$pri__blue: hsl(223, 87%, 63%);
$sec__pale-blue: hsl(223, 100%, 88%);
$sec__light-red: hsl(354, 100%, 66%);
$neut__gray: hsl(0, 0%, 59%);
$neut__vdk-blue: hsl(209, 33%, 12%);

/**** fonts ****/
$ff: "Libre Franklin", sans-serif;
$fs: 20px;
